@import "../../styles/variables/colors";
@import "../../styles/variables/typography";
@import "../../styles/variables/mixins";

.hero {
  background-image: url("/images/months/months-cover.jpg"),
    url("/images/months/blur-img/months-cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $neutral-800;
  height: calc(100vh - 8rem);
  min-height: 40rem;
}

.intro {
  transform: translateY(-30%);

  p {
    margin: 0 auto;
    width: 80%;
    max-width: 60rem;
  }
}

.monthlist {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
}

.monthitem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  margin: 15% 0;

  &:nth-child(odd) {
    .image {
      order: 2;
    }
  }

  .image {
    width: 53%;
  }

  .text {
    width: 47%;
    padding: 0 5%;

    .title {
      font-family: $text-heading-serif;
      margin-bottom: 2rem;
    }

    .paragraph {
      margin-bottom: 2rem;
    }
  }

  .monthinfo {
    border-left: 2px solid $secondary-500;
    padding: 0 1rem;

    .iteminfo {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 1rem;
    }

    p {
      line-height: 2;
    }

    .icon {
      padding-right: 1rem;
    }
  }
}
