.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $black;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: 8fr 4fr;
  grid-template-areas: 'main side';
}

.side {
  grid-area: side;
}

.main {
  grid-area: main;
  background-color: aqua;
}
