@import "../../styles/variables/colors.module.scss";

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 4rem;
  width: 100%;

  .hamburger {
    span {
      content: "";
    }
  }
}
