/********** Font **********/
$text-heading: serif;
$text-body: sans-serif;

/********** Base **********/
$text-base-size: 1rem;
$text-scale-ratio: 1.2;

/********** Size **********/
$text-xs: calc(1rem / (var($text-scale-ratio) * var($text-scale-ratio)));
$text-sm: calc(1rem / var($text-scale-ratio));
$text-md: calc(1rem * var($text-scale-ratio));
$text-lg: calc(1rem * var($text-scale-ratio) * var($text-scale-ratio));
$text-xl: calc(
  1rem * var($text-scale-ratio) * var($text-scale-ratio) *
    var($text-scale-ratio)
);
$text-xxl: calc(
  1rem * var($text-scale-ratio) * var($text-scale-ratio) *
    var($text-scale-ratio) * var($text-scale-ratio)
);
$text-xxxl: calc(
  1rem * var($text-scale-ratio) * var($text-scale-ratio) *
    var($text-scale-ratio) * var($text-scale-ratio) * var($text-scale-ratio)
);

/********** LINE HEIGHT **********/
$text-line-height__heading: 1.6;
$text-line-height__body: 1.3;
