.container {
  background-color: lightgreen;
  display: grid;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 'header' 'main';
}
