@import '../../styles/variables/colors';
@import '../../styles/variables/typography';
@import '../../styles/variables/mixins';

.marker {
  background-color: none;
  border: none;
}

.icon {
  border-radius: 24px;
  border: none;
  stroke: none;
  cursor: pointer;
  background-color: red;
}

/* backgroundColor: $primary-500;
  z-index: '10',
    border: 'none',
    borderRadius: `${pinSize}px`,
    stroke: 'none',
    cursor: 'pointer', */
