@import "./variables/colors";
@import "./variables/typography";
@import "./variables/mixins";

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100vh;
  min-height: 80rem;
  padding: 2.4rem;
  padding-top: 6rem;
  padding-left: 10%;

  @media (min-width: 764px) {
    padding-top: 8rem;
  }
}

.icon {
  position: absolute;
  width: 24%;
  right: 0;
  top: 6rem;
  right: 10%;
}

.text {
  width: 100%;
  padding-bottom: 6rem;

  span {
    @include text-pretitle;
    font-weight: 400;
  }

  .heading {
    position: relative;
    display: flex;
    gap: 5%;

    .arrow {
      position: absolute;
      top: 50%;
      left: 0;
      width: 15%;
      overflow: hidden;
    }

    h1 {
      line-height: 1;
      margin-bottom: 3rem;
      padding-left: 15%;
    }
  }

  h4 {
    max-width: 400px;
  }
}

.pagelinks {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  max-width: 700px;
  padding-bottom: 7rem;
  gap: 2rem;
}
