@import '../../styles/variables/colors.scss';
@import '../../styles/variables/typography';
@import '../../styles/variables/mixins';

.container {
  position: fixed;

  .active {
    border-left: 4px solid $white;
  }
}

.sliderContainer {
  background-color: $white;
  width: 4rem;
  height: 100vh;
  position: relative;
}
